body{
    background-color: red;
}
a:hover{
    text-decoration: underline;
    color: #3a5470;
}
/* header */
header{
    background-color: #8bc3ff;
    box-shadow: 0 0 20px #ccc;
}
nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
nav > a{   
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, sans-serif;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 10px;
}
nav ul li{
    text-align: center;
    width: 100%;
}
nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

/* Footer */
footer{
    display: flex;
    background-color: #8bc3ff;
    justify-content: space-around;
}
.desenvolvedores{
    text-align: center;
}
.social {
    padding: 20px;
    text-align: center;
  }
/*Alerta*/

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1.aviso {
    text-align: center;
    color: red;
}

.lembretes {
    margin-top: 20px;
}

.lembrete {
    position: relative;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lembrete h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.2em;
}

.lembrete .info {
    float: right;
    font-size: 0.9em;
    color: #666;
}

.lembrete p {
    margin-bottom: 5px;
    color: #666;
}

.lembrete p strong {
    color: #333;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }
}